.autotools
.cproject
.deps
.libs
.project
.settings/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
/*.m4
/autom4te.cache
/build
/config.*
*.in
*.log
/configure
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules
*.la
*.lo
*.so
run-tests.php
*.gcno
*.gcda
/.coverage
/coverage
/include
